header {
  background-color: var(--RED-900);
  padding: 2.4rem 2rem;

  justify-content: space-between;

  position: relative;
}

header .logo-wrapper {
  gap: 0.6rem;
}

header .menu-button {
  padding: 1.2rem;
  background-color: var(--WHITE);
  border-radius: 0.8rem;
  border: none;
}

.icon-closeMenu.hidden,
.icon-openMenu.hidden {
  display: none;
}

header nav::before {
  content: "";
  height: 0.1rem;
  width: 90%;
  background-color: var(--WHITE);
  opacity: 0.2;

  display: block;

  position: absolute;
  top: 0;
}

header nav {
  background-color: var(--RED-900);
  padding: 3rem 2rem;
  border-radius: 0 0 2rem 2rem;
  width: 100%;

  position: absolute;
  top: -14.4rem;
  right: 0;
  z-index: -1;

  transition: 0.2s;
}

header nav.open {
  top: 8.8rem;
}

header nav ul {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--WHITE);

  flex-direction: column;
  gap: 1.2rem;
}

header nav ul li a {
  color: var(--WHITE);
  opacity: 0.5;
}

header nav ul li a.active {
  opacity: 1;
}

main {
  max-width: 100vw;

  position: absolute;
  z-index: -2;
}

main section:not(:nth-child(1)) {
  max-width: 136rem;
}

.welcome {
  color: var(--WHITE);

  gap: 3.2rem;

  background-color: var(--RED-800);
  padding-bottom: 5rem;
  width: 100vw;
}

.welcome .padding {
  padding: 5rem 2rem;

  flex-direction: column;
  gap: 3.2rem;
}

.welcome .friends-in-city {
  flex-direction: column;
  gap: 1rem;
}

.welcome .friends-in-city .image-wrapper img {
  margin-right: -1.2rem;
}

.welcome .friends-in-city p {
  font-size: 1.4rem;
}

.welcome .friends-in-city p span {
  font-weight: 800;
}

.welcome h1 {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 110%;
}

.welcome .grid {
  grid-template-columns: 2rem auto 2rem;
  grid-gap: 1rem;
}

.welcome .grid .box {
  background: var(--RED-900);
}

.welcome .grid .box:nth-child(1) {
  border-radius: 0 2rem 2rem 0;
}

.welcome .grid .box:nth-child(1) button {
  display: none;
}

.welcome .grid .box:nth-child(2) {
  background: none;
  height: 30rem;
  width: 25rem;
  margin: auto;

  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  position: relative;
}

.welcome .grid .box:nth-child(2) img {
  height: 100%;

  position: absolute;
  z-index: 1;
}

.welcome .grid .box:nth-child(2) .background {
  background: var(--RED-GRADIENT);
  height: 90%;
  width: 100%;
  border-radius: 2rem;
}

.welcome .grid .box:nth-child(2) button {
  position: absolute;
  z-index: 2;
  bottom: 1rem;
}

.welcome .grid .box:nth-child(3) {
  border-radius: 2rem 0 0 2rem;
}

.welcome .grid .box:nth-child(4),
.welcome .grid .box:nth-child(5) {
  display: none;
}

.welcome .grid .box button {
  border: none;
  padding: 1rem;
  width: 80%;
  border-radius: 1rem;

  color: var(--BLUE);
  font-weight: 800;
}

.about-app {
  flex-direction: column;
  gap: 3.6rem;

  margin-block: 7rem;
}

.about-app .wrapper {
  flex-direction: column;
  gap: 2rem;

  margin-inline: 2rem;
}

.about-app .wrapper h2 {
  color: var(--BLUE);
  font-size: 3rem;
  line-height: 110%;
  letter-spacing: -0.02em;
}

.about-app .wrapper .card-wrapper {
  gap: 1rem;
}

.about-app .wrapper .card-wrapper .card {
  border: 0.1rem solid var(--BORDER-RED-OPACITY);
  background-color: var(--RED-700);
  border-radius: 2rem;
  padding: 3rem;

  flex-direction: column;
  gap: 3rem;
}

.about-app .wrapper .card-wrapper .card span {
  font-size: 2.5rem;
}

.about-app .wrapper .card-wrapper .card p {
  line-height: 110%;
  letter-spacing: -0.02em;
  font-size: 1.4rem;
  font-weight: 500;
}

.about-app img.desktop {
  display: none;
}

.many-friends {
  background-color: var(--RED-800);
  margin-inline: 2rem;
  padding: 6rem 3.2rem;
  border-radius: 2rem;

  flex-direction: column;
  gap: 2rem;
}

.many-friends .wrapper-one {
  text-align: center;

  flex-direction: column;
  gap: 4rem;
}

.many-friends .wrapper-one h2 {
  color: var(--YELLOW);
  font-size: 3rem;
}

.many-friends .wrapper-one p {
  color: var(--WHITE);
}

.many-friends .wrapper-two {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.many-friends .wrapper-two button {
  border: none;
  border-radius: 1rem;
  background-color: var(--WHITE);
  padding-block: 2rem;
  width: 100%;

  font-size: 1.4rem;
  font-weight: 800;
  color: var(--BLUE);
}

.many-friends .wrapper-two .swiper {
  width: calc(100vw - 5.2rem);
  height: 100%;
}

.many-friends .wrapper-two .swiper-slide {
  background-color: var(--WHITE);
  width: 22rem !important;
  height: 15rem;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.many-friends .wrapper-two .swiper-slide:nth-child(3) {
  margin-right: 1rem;
}

.many-friends .wrapper-two .swiper-slide img {
  width: 100%;
}

.many-friends .wrapper-two .swiper-slide span {
  margin-bottom: 1rem;

  color: var(--BLUE);
  font-weight: 700;
}

.many-friends .wrapper-two .swiper-button-prev,
.many-friends .wrapper-two .swiper-button-next,
.many-friends .wrapper-two .swiper-pagination {
  display: none;
}

.many-friends .wrapper-two .swiper-button-next.swiper-button-disabled,
.many-friends .wrapper-two .swiper-button-prev.swiper-button-disabled {
  background: none;
  border: 0.1rem solid var(--WHITE);
  opacity: 1;
}

.many-friends .wrapper-two .swiper-button-next.swiper-button-disabled svg path,
.many-friends .wrapper-two .swiper-button-prev.swiper-button-disabled svg path {
  stroke: var(--WHITE);
}

.about-company {
  margin: 7rem 2rem;

  flex-direction: column;
  gap: 6rem;
}

.about-company .wrapper-one {
  color: var(--BLUE);
  text-align: center;

  flex-direction: column;
  gap: 2rem;
}

.about-company .wrapper-one h2 {
  font-size: 3rem;
  font-weight: 700;
}

.about-company .swiper {
  width: calc(100vw - 2rem);
  height: 100%;
}

.about-company .swiper-slide,
.about-company .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;

  border: 0.1rem solid var(--BORDER-RED-OPACITY);
  border-radius: 2rem;
  padding: 1rem 1rem 2rem 1rem;
  width: 25rem;
  max-width: 30rem;

  color: var(--BLUE);
  font-size: 1.8rem;
}

.about-company img {
  width: 100%;
}

.about-company .text-wrapper {
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.about-company .name {
  font-weight: 700;
}

.about-company .wrapper-two {
  display: none;
}

.contact {
  padding: 9rem 3.2rem 7rem 3.2rem;
  background-color: var(--BLUE);
  margin: 0 2rem 3rem 2rem;
  border-radius: 1rem;

  position: relative;
}

.contact .wrapper-one {
  color: var(--WHITE);

  flex-direction: column;
  gap: 1.8rem;
}

.contact .wrapper-one h2 {
  font-size: 3rem;
  line-height: 110%;
}

.contact .wrapper-one .email-wrapper {
  gap: 0.7rem;
  align-items: center;

  color: var(--YELLOW);
}

.contact .wrapper-one .email-wrapper span {
  font-size: 1.4rem;
}

.contact img {
  width: calc(100vw - 7.2rem);

  position: absolute;
  top: -3.2vw;
  right: 0;
}

@media (min-width: 768px) {
  .welcome {
    grid-template-columns: 1fr 1fr;

    padding: 5rem 0 0 2rem;
  }

  .welcome .padding {
    padding: 0 0;
  }

  .welcome .grid {
    grid-template:
      "A B" auto
      "C B" 10rem
      "D E" 5rem
      / auto 5rem;

    gap: 2rem;
  }

  .welcome .grid .box:nth-child(1) {
    grid-area: C;

    border-radius: 2rem;

    align-items: center;
    justify-content: center;
  }

  .welcome .grid .box:nth-child(1) button {
    display: flex;
    justify-content: center;
  }

  .welcome .grid .box:nth-child(2) {
    grid-area: A;
    width: 100%;
  }

  .welcome .grid .box:nth-child(2) img {
    height: 108%;
  }

  .welcome .grid .box:nth-child(2) .background {
    height: 100%;
  }

  .welcome .grid .box:nth-child(2) button {
    display: none;
  }

  .welcome .grid .box:nth-child(3) {
    grid-area: D;

    border-radius: 2rem 2rem 0 0;
  }

  .welcome .grid .box:nth-child(4) {
    grid-area: E;

    border-radius: 2rem 0 0 0;
    display: inherit;
  }

  .welcome .grid .box:nth-child(5) {
    grid-area: B;

    border-radius: 2rem 0 0 2rem;
    display: inherit;
  }

  .about-app .wrapper h2 {
    font-size: 4rem;
  }

  .about-app .wrapper .card-wrapper {
    grid-template:
      "A B" auto
      "C C" auto
      / auto auto;

    gap: 1.8rem;
  }

  .about-app .wrapper .card-wrapper .card:nth-child(1) {
    grid-area: A;
  }

  .about-app .wrapper .card-wrapper .card:nth-child(2) {
    grid-area: B;
  }

  .about-app .wrapper .card-wrapper .card:nth-child(3) {
    grid-area: C;
  }

  .about-app img.mobile {
    display: none;
  }

  .about-app img.desktop {
    display: inherit;
  }

  .many-friends .wrapper-one p {
    width: 100%;
  }

  .many-friends .wrapper-two .swiper {
    width: 50rem;
    height: 25rem;

    display: flex;
    align-items: center;
  }

  .many-friends .wrapper-two .swiper-wrapper {
    height: fit-content;
  }

  .many-friends .wrapper-two .swiper-slide {
    height: 100%;
    width: 30rem !important;
  }

  .many-friends .wrapper-two .swiper-slide:nth-child(1) {
    margin-left: 10rem;
  }

  .many-friends .wrapper-two .swiper-slide:nth-child(2) {
    margin-left: 21rem;
  }

  .many-friends .wrapper-two .swiper-slide:nth-child(3) {
    margin-left: 19rem;
  }

  .many-friends .wrapper-two .swiper-button-prev,
  .many-friends .wrapper-two .swiper-button-next {
    background-color: var(--WHITE);
    padding: 2.4rem;
    border-radius: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .many-friends .wrapper-two .swiper-button-prev svg,
  .many-friends .wrapper-two .swiper-button-next svg {
    position: absolute;
    z-index: 99;
  }

  .many-friends .wrapper-two .swiper-button-prev::after,
  .many-friends .wrapper-two .swiper-button-next::after {
    display: none;
  }

  .many-friends .wrapper-two .swiper-pagination {
    display: flex;
    justify-content: center;
  }

  .many-friends .wrapper-two .swiper-pagination span {
    background-color: var(--WHITE);
  }

  .about-company .swiper {
    display: none;
  }

  .about-company .wrapper-two {
    display: grid;
    grid-template:
      "A" auto
      "B" auto
      / auto auto;
    gap: 3.2rem;
    place-items: center;

    width: fit-content;
    margin: auto;
  }

  .contact {
    padding: 5rem;
    height: 24rem;
  }

  .contact .wrapper-one {
    position: absolute;
    z-index: 2;
  }

  .contact img {
    z-index: 1;
    top: -2.5rem;

    max-width: 69.6rem;
  }
}

@media (min-width: 1024px) {
  header .menu-button {
    display: none;
  }

  header nav::before {
    display: none;
  }

  header nav {
    background: none;
    padding: 0 0;
    border-radius: 0;
    width: fit-content;

    position: inherit;
    top: 0;
    z-index: 0;
  }

  header nav ul {
    flex-direction: row;
    gap: 3.6rem;
  }

  main {
    position: inherit;
  }

  .welcome .friends-in-city p {
    font-size: 1.6rem;
  }

  .welcome .friends-in-city {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .welcome h1 {
    font-size: 6.4rem;
  }

  .welcome p {
    font-size: 1.8rem;
  }

  .about-app {
    flex-direction: row-reverse;

    margin-block: 10rem;
  }

  .about-app .wrapper {
    padding: 0;
  }

  .about-app .wrapper h2 {
    font-size: 4.8rem;
  }

  .about-app img.desktop {
    width: 50rem;
  }

  .many-friends .wrapper-one,
  .many-friends .wrapper-two {
    flex-direction: row;
  }

  .many-friends .wrapper-one {
    gap: 3rem;
  }

  .many-friends .wrapper-one h2,
  .about-company .wrapper-one h2,
  .contact .wrapper-one h2 {
    font-size: 4rem;
  }

  .many-friends .wrapper-one p,
  .about-company .wrapper-one p {
    width: 100%;

    font-size: 1.8rem;
  }

  .many-friends .wrapper-two button {
    width: 30rem;
    margin: auto;

    font-size: 1.8rem;
  }

  .many-friends .wrapper-two .swiper-slide span {
    font-size: 1.8rem;
  }

  .about-company {
    margin-block: 10rem;
  }

  .contact {
    height: 28rem;
    margin-bottom: 10rem;
  }

  .contact .wrapper-one .email-wrapper span {
    font-size: 1.6rem;
  }

  .contact img {
    width: calc(100vw - 17.2rem);
    max-width: 90rem;

    top: -3vw;
  }
}

@media (min-width: 1214px) {
  .about-company {
    grid-template:
      "A" auto
      "B" auto
      / auto;
  }

  .about-company .wrapper-one {
    display: grid;
    grid-template:
      "A" auto
      / 30rem auto;
    align-items: center;
  }

  .about-company .wrapper-two {
    justify-content: space-between;

    grid-template:
      "A" auto
      / auto auto auto auto;

    width: 100%;
  }

  .about-company .wrapper-two .card {
    width: 28rem;
  }

  .contact img {
    top: -3.5rem;

    max-width: 100rem;
  }
}

@media (min-width: 1440px) {
  header {
    background-color: var(--RED-800);
    padding: 4rem 10rem;
  }

  main section:not(:nth-child(1)) {
    margin-inline: auto;
  }

  .welcome {
    padding-left: 10rem;
  }

  .welcome h1 {
    font-size: 7.2rem;
  }

  .welcome .grid {
    grid-template:
      "A B" auto
      "C B" 10rem
      "D E" 5rem
      / auto 10rem;
  }

  .about-app {
    gap: 5.6rem;
  }

  .about-app .wrapper {
    gap: 4rem;
  }

  .about-app .wrapper h2 {
    font-size: 4.8rem;
  }

  .about-app .wrapper .card-wrapper {
    gap: 3.2rem;
  }

  .about-app .wrapper .card-wrapper .card p {
    font-size: 1.6rem;
  }

  .about-app img.desktop {
    width: fit-content;
  }

  .many-friends .wrapper-one h2,
  .about-company .wrapper-one h2 {
    font-size: 4.8rem;
  }

  .many-friends .wrapper-one p,
  .many-friends .wrapper-two button,
  .about-company .wrapper-one p {
    font-size: 2rem;
  }

  .many-friends .wrapper-two .swiper {
    width: 60rem;
    height: 30rem;
  }

  .many-friends .wrapper-two .swiper-slide {
    width: 40rem !important;
  }

  .many-friends .wrapper-two .swiper-slide:nth-child(1) {
    margin-left: 11rem;
  }

  .many-friends .wrapper-two .swiper-slide:nth-child(2) {
    margin-left: 20rem;
  }

  .many-friends .wrapper-two .swiper-slide:nth-child(3) {
    margin-left: 20rem;
  }

  .about-company {
    margin-top: 10rem;
  }

  .contact {
    margin-bottom: 20rem;
  }
}
